body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #dd500f;
    padding: 1rem;
    text-align: center;
    
}

header a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
}


a {
    text-decoration: none;
}

.container {
    flex: 1;
    display: flex;
}

.menu {
    width: 20%;
    background-color: #222;
    color: white;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 1rem 0;
    font-size: 1rem; 
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.2s; 
}

.menu li:hover {
    background-color: #dd500f; 
    transform: translateX(5px); 
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block; 
    font-weight: bold;
}

main {
    width: 80%;
    padding: 2rem;
    background-image: url("img/ruleta/ruleta.webp");
    background-color: rgb(35, 104, 21);
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    
   
}




footer {
    background-color: #363535;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #dd500f;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


.ruleta-container {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 350px auto; 
    width: 38%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

#resultat {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #333;
}

#girar-btn {
    background-color: #dd500f;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#aposta-vermell {
    background-color: #e74c3c;
    color: white;
}

#aposta-vermell:hover {
    background-color: #c0392b; 
}

#aposta-negre {
    background-color: #34495e; 
    color: white;
}

#aposta-negre:hover {
    background-color: #2c3e50; 
}

#aposta-verd {
    background-color: #2ecc71; 
    color: white;
}

#aposta-verd:hover {
    background-color: #27ae60; 
}


#girar-btn {
    background-color: #dd500f;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}